@mixin line-clamp (
  $font-size,
  $line-height,
  $lines-to-show) {
  @if unitless($line-height)==false {
    $line-height: create-unitless-line-height($font-size, $line-height);
  }

  display: block;
  display: -webkit-box;
  font-size: $font-size+px;
  max-height: ($font-size * $line-height * $lines-to-show)+px;
  line-height: $line-height;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: $lines-to-show;
}

@mixin extra-large {
  @media (max-width: (1300px)) {
    @content;
  }
}

@mixin tablet {
  @media (max-width: (1070px)) {
    @content;
  }
}

@mixin small-tablet {
  @media (max-width: (800px)) {
    @content;
  }
}

@mixin mobile {
  @media (max-width: (600px)) {
    @content;
  }
}