$accent : #63A60F;
$def-text: #121212;

%Sans-Bold {
  font-family: 'OpenSans-Bold', sans-serif;
  font-weight: 700;
}
%Sans-Light {
  font-family: 'OpenSans-Light', sans-serif;
  font-weight: 300;
}
%Sans-Regular {
  font-family: 'OpenSans-Regular', sans-serif;
  font-weight: 400;
}
%Sans-SemiBold {
  font-family: 'OpenSans-SemiBold', sans-serif;
  font-weight: 600;
}

%Ruda-Bold {
  font-family: 'Ruda-Bold', sans-serif;
  font-weight: 700;
}
%Ruda-Regular {
  font-family: 'Ruda-Regular', sans-serif;
  font-weight: 400;
}
%Ruda-SemiBold {
  font-family: 'Ruda-SemiBold', sans-serif;
  font-weight: 600;
}