$green-900: #63A60F;
$green-600: #63A60E;
$dark-400: #31352B;
$dark-900: #121212;
$dark-500: #505050;
$red-900: #CF3E3B;
$white: #fff;
$green-200: #E0EDCF;
$silver-600: #C1C1C1;
$orange-900: #FF7A00;
$yellow-900: #FFB800;
$green-100: #EFF6E7;

$font-opensans: 'Open Sans', sans-serif;
$font-ruda: 'Ruda', sans-serif;