@import 'reset';
@import 'fonts';
@import 'vars';
@import 'mixin';
@import 'libs';
@import 'global';

.body--lock {
  overflow: hidden;
  &::after{
    display: block;
  }
}

.logo {
  display: inline-block;

  img {
    max-width: 200px;
    object-fit: cover;
  }
}

.header-menu {
  max-width: 300px;
  width: 100%;
  font-size: 18px;
  font-weight: 400;
  background-color: $white;
  color: $dark-400;
  padding-top: 26px;
  padding-bottom: 24px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 5;
  transform: translateX(-200%);
  transition: transform 0.3s ease-in;

  &__top {
    display: flex;
    justify-content: space-between;
    padding-left: 15px;
    padding-right: 26px;
    padding-bottom: 26px;
  }

  &__users {
    font-size: 18px;
    line-height: 1;
    font-weight: 400;
    padding-left: 40px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 55px;
    background-color: $green-600;
    color: $white;
    position: relative;

    &::before {
      content: "";
      position: absolute;
      width: 25px;
      height: 32px;
      background-image: url("../images/icons/user.svg");
      left: 15px;
      top: 10px;
    }
  }

  &__login {
    padding-right: 12px;
    border-right: 2px solid $white;
  }

  &__regist {
    padding-left: 12px;
  }

  &__catalog {
    padding: 15px 10px 15px 56px;
    font-weight: 600;
    position: relative;

    &::before {
      content: "";
      position: absolute;
      background-image: url("../images/mobile-icon/burger.svg");
      width: 25px;
      height: 19px;
      left: 15px;
      top: 50%;
      transform: translateY(-50%);
    }
  }

  &__contacts {
    padding: 24px 15px;
    border-top: 1px solid rgba(193, 193, 193, 0.3);
    border-bottom: 1px solid rgba(193, 193, 193, 0.3);
  }

  &__addres {
    color: $dark-400;
    margin-bottom: 18px;
    padding-left: 40px;
  }

  &__tel {
    display: block;
    margin-bottom: 18px;
    position: relative;
    line-height: 1;

    &::before {
      content: "";
      position: absolute;
      width: 24px;
      height: 24px;
      background-image: url("../images/mobile-icon/tel.svg");
      left: -40px;
    }
  }

  &__street {
    position: relative;

    &::before {
      content: "";
      position: absolute;
      width: 24px;
      height: 33px;
      background-image: url("../images/mobile-icon/geo.svg");
      left: -40px;
      top: 9px;
    }
  }

  &__inner {
    display: flex;
  }

  &__item:not(:last-child) {
    margin-right: 12px;
  }

  &__nav {
    line-height: 1.2;
    text-transform: capitalize;
    padding-top: 24px;
    padding-left: 15px;
  }

  &__link:not(:last-child) {
    margin-bottom: 15px;
  }

  &--active {
    transform: translateX(0%);

  }
}

.header {
  position: relative;

  &__top {
    font-size: 13px;
    font-weight: 700;
    padding: 17px 0 15px;
    color: white;
    background-color: $dark-400;

    @include small-tablet {
      padding: 14px 0;
    }
  }

  &__burger {
    display: none;

    @include small-tablet {
      display: block;
    }
  }

  &__item--mobile {
    display: none;
  }

  &__sub {
    background-color: $green-900;
    padding: 25px 15px;

    @include small-tablet {
      padding: 11px 0;
    }
  }

  &__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__link {
    font-size: 13px;
    font-weight: 700;
    text-transform: uppercase;
    transition: opacity 0.3s ease-in;

    @include small-tablet {
      display: none;
    }

    &:hover {
      opacity: 0.7
    }

    &--address,
    &--number {
      padding-left: 44px;
      position: relative;

      &::before {
        content: "";
        position: absolute;
        width: 22px;
        height: 23px;
        top: -3px;
        left: -1px;
      }
    }

    &--address {
      margin-right: 48px;

      @include tablet {
        margin-right: 31px;
      }

      &::before {
        background-image: url("../images/icons/del-address.svg");
        width: 32px;
      }
    }

    &--number::before {
      background-image: url("../images/icons/tel.svg");
    }
  }

  &__menu {
    display: flex;
    margin-left: auto;
  }

  &__item:not(:last-child) {
    margin-right: 24px;
  }

  &__link-mobile {
    display: none;

    &:not(:last-child) {
      margin-right: 31px;
    }

    @include small-tablet {
      display: block;
    }
  }

  &__users {
    display: flex;
    align-items: center;
  }

  &__user:not(:last-child) {
    margin-right: 35px;
  }


  &__btn {
    position: relative;
    cursor: pointer;

    &::after {
      content: "";
      position: absolute;
      background-color: transparent;
      width: 50px;
      height: 50px;
      border-radius: 3px;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      transition: background-color 0.15s ease-in;
    }

    &:hover::after {
      background-color: rgba($white, 0.1);
    }

    &--profile {
      background-image: url("../images/icons/user.svg");
      width: 25px;
      height: 32px;

      @include small-tablet {
        display: none;
      }
    }

    &--like {
      background-image: url("../images/icons/heart.svg");
      width: 32px;
      height: 28px;

      @include small-tablet {
        display: none;
      }
    }

    &--cart {
      background-image: url("../images/icons/cart.svg");
      width: 32px;
      height: 31px;
    }

    &--search {
      background-image: url("../images/icons/search-btn.svg");
      width: 24px;
      height: 24px;
    }
  }

  &__btn--search {
    display: none;

    @include tablet {
      display: block;
    }
  }

  &__num {
    position: absolute;
    width: 18px;
    text-align: center;
    height: 18px;
    line-height: 18px;
    top: -7px;
    left: -9px;
    background-color: $white;
    color: $red-900;
    opacity: 0;
    border-radius: 50%;
    font-size: 10px;
    font-weight: 600;
    transition: opacity 0.3s ease-in;

    &--visible {
      opacity: 1;
    }
  }
}

.header-catalog {
  margin: 0 15px;
  position: relative;

  @include tablet {
    margin-right: auto;
  }

  @include small-tablet {
    display: none;
  }

  &__btn {
    width: 100%;
    padding: 16px 38px 15px 61px;
    text-overflow: ellipsis;
    border-radius: 5px;
    background-color: $white;
    position: relative;
    font-weight: 600;
    color: $green-900;
    transition: background-color 0.3s ease-in;
    z-index: 2;


    &:hover,
    &:active {
      background-color: $green-200;
    }

    &::before,
    &::after {
      content: "";
      position: absolute;
      width: 25px;
      height: 18px;
      top: 50%;
      transform: translateY(-50%);
    }

    &::before {
      background-image: url("../images/icons/burger.svg");
      left: 18px;
    }

    &::after {
      background-image: url("../images/icons/arrow.svg");
      width: 8px;
      height: 4px;
      right: 23px;
      transition: transform 0.3s ease-in;

      .header-catalog--active & {
        transform: rotate(180deg);
      }
    }

    .header-catalog--active & {
      background-color: $green-200;
    }
  }

  &__menu {
    position: absolute;
    transform: translateY(-100%);
    background-color: $white;
    border-bottom-right-radius: 6px;
    border-bottom-left-radius: 6px;
    width: 100%;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.3s ease-in;

    .header-catalog--active & {
      position: absolute;
      top: 95%;
      right: 0;
      left: 0;
      transform: translateY(0%);
      z-index: 10;
      visibility: visible;
      opacity: 1;
    }

  }

  &__item:not(:last-child) {
    border-bottom: 1px solid rgba(193, 193, 193, 0.3);
  }

  &__link {
    display: block;
    padding: 15px 5px 15px 24px;
    color: #000;
    border-left: 3px solid transparent;
    transition: border-left 0.3s ease-in, color 0.3s ease-in;

    &:hover {
      border-left: 3px solid $green-900;
      color: $green-900;
    }
  }
}

.form {
  max-width: 576px;
  width: 100%;
  position: relative;

  @include tablet {
    max-width: 100%;
    border-radius: 0;
  }

  &.form--subscribe {
    display: block;
    max-width: 306px;
    line-height: 1;

    &::before {
      display: none;
    }
  }

  &::before {
    content: "";
    width: 20px;
    height: 20px;
    background-image: url("../images/icons/search.svg");
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 13px;
  }

  &__label {
    .form--subscribe & {
      display: block;
      margin-bottom: 18px;
    }
  }

  &__input {
    max-width: 420px;
    width: 100%;
    padding: 15px 51px;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
    border: 1px solid transparent;
    transition: box-shadow 0.3s ease-in, border 0.3s ease-in;

    &::placeholder {
      color: $dark-400;
    }

    &:focus {
      outline: transparent;
      border: 1px solid #63A60E;
      box-shadow: 0 0 0 3px $green-200;
    }

    .form--subscribe & {
      max-width: 180px;
      padding: 11px;
      border-width: 0;
    }
  }

  &__btn {
    padding: 16px 54px;
    font-size: 14px;
    font-weight: 600;
    line-height: 1.4;
    background-color: $dark-400;
    color: $white;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
    transition: box-shadow 0.3s ease-in, background-color 0.3s ease-in, color 0.3s ease-in;
    text-transform: uppercase;
    position: absolute;
    right: 0;

    &:hover {
      background-color: rgba(49, 53, 43, 0.85);

      .form--subscribe & {
        background-color: #4d800c;
      }
    }

    &:focus {
      box-shadow: 0 0 0 4px rgba(255, 255, 255, 0.5);
      border-top-right-radius: 6px;
      border-bottom-right-radius: 6px;
      outline: transparent;

      .form--subscribe & {
        box-shadow: 0 0 0 4px #E0EDCF;
      }
    }

    &:active {
      color: rgba($white, 0.5);
      background-color: $dark-400;
      box-shadow: inset 0 4px 4px rgba(0, 0, 0, 0.25);

      .form--subscribe & {
        color: rgba($white, 0.5);
        background-color: $green-600;
        box-shadow: inset 0 4px 4px rgba(0, 0, 0, 0.25);
      }
    }

    .form--subscribe & {
      font-size: 12px;
      font-weight: 700;
      text-transform: uppercase;
      background-color: $green-600;
      color: $white;
      padding: 13px 17px;
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
    }

    .form--active & {
      @include small-tablet {
        padding: 16px 25px;
      }
    }
  }

  &--before {
    .form__btn {
      @include tablet {
        border-radius: 0;
      }
    }

    .form__input {
      @include tablet {
        max-width: 100%;
        border-radius: 0;
      }
    }

    @include tablet {
      visibility: hidden;
      opacity: 0;
      position: absolute;
      bottom: -45px;
      z-index: 1;
      right: 0;
      left: 0;
      transform: translateY(-100%);
      border: 1px solid $dark-400;
      transition: opacity 0.3s ease-in;
    }
  }

  &--active {
    visibility: visible;
    opacity: 1;
    transform: translateY(10%);
  }
}

.cart__menu {
  position: absolute;
  bottom: 0;
  top: 0;
  right: 0;
  background-color: #F6F6F6;
  z-index: 5;
  max-width: 475px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: #000;
  transform: translateY(-300%);
  transition: transform 0.4s ease-in;


  &-top {
    padding: 19px 24px 12px;
    background-color: $white;
    display: flex;
    justify-content: space-between;
  }

  &-title,
  &-subtitle {
    font-size: 24px;
    line-height: 1.2;
  }

  &-clear {
    font-weight: 300;
  }

  &-close {
    width: 24px;
    height: 24px;
    position: relative;

    &::before {
      content: "";
      position: absolute;
      background-image: url("../images/icons/close.svg");
      width: inherit;
      height: inherit;
      left: 0;
    }
  }

  &-sum {
    font-size: 24px;
    font-weight: 600;
    color: $dark-500;
  }

  &-inner {
    display: flex;
    justify-content: space-between;
    padding: 24px;
    background-color: $white;
  }

  &-arrange {
    width: 100%;
    padding: 22px;
    font-size: 18px;
    background-color: $green-900;
    color: $white;
  }

  &--active {
    display: flex;
    transform: translateY(0%);
  }
}

.discounts-slider {
  &__box {
    display: flex !important;
    justify-content: center;
    align-items: center;
    display: block;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 0 15px;
    height: 600px;

    @include small-tablet {
      height: 450px;
    }

    @include mobile {
      height: 320px;
    }

    @include mobile {
      padding: 0;
    }
  }

  &__inner {
    max-width: 1290px;
    width: 100%;
    padding: 24px;
    background-color: rgba($white, 0.8);
    border-radius: 6px;
    position: relative;

    @include tablet {
      padding: 15px;
    }

    @include small-tablet {
      border-radius: 0;
    }
  }

  &__title {
    font-family: $font-ruda;
    font-weight: 900;
    line-height: 1.3;
    max-width: 770px;
    width: 100%;
    font-size: 60px;
    color: $dark-500;
    margin-bottom: 12px;
    letter-spacing: 0;
    text-transform: uppercase;
    @include line-clamp (60, 1.3, 4);

    @include tablet {
      font-size: 50px;
    }

    @include small-tablet {
      font-size: 35px;
    }

    @include mobile {
      max-width: 230px;
      font-size: 20px;
      margin-bottom: 15px;
    }
  }

  &__subtitle {
    color: $red-900
  }

  &__text p {
    font-size: 16px;
    color: $dark-500;
    margin-bottom: 32px;

    @include small-tablet {
      margin-bottom: 24px;
      letter-spacing: 0;
    }
  }

  .slick-arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 2;
    border: 1px solid transparent;
    width: 60px;
    height: 60px;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 6px;
    border: 1px solid $silver-600;
    transition: background-color 0.3s ease-in, border-color 0.3s ease-in, box-shadow 0.3s ease-in;

    &--prev {
      left: 60px;
    }

    &--next {
      right: 60px;
    }

    svg {
      width: 18px;
      height: 32px;
      fill: $dark-500;
      transition: fill 0.3s ease-in;
    }


    &:hover,
    &:active {
      background-color: $green-200;
      border-color: $green-600;
      box-shadow: none;

      svg {
        fill: $green-600;
      }
    }

    &:focus {
      box-shadow: 0 0 0 3px rgba(99, 166, 14, 0.5);
      outline: none;
    }
  }

  .slick-dots {
    display: flex;
    position: absolute;
    bottom: 5%;
    left: 50%;
    transform: translateX(-50%);
    font-size: 0;

    li {
      margin: 0 6px;
    }

    li button {
      width: 11px;
      height: 11px;
      background-color: $white;
      border: 1px solid $silver-600;
      border-radius: 50%;
    }

    .slick-active button {
      border-color: $green-600;
      background-color: $green-600;
    }
  }
}

.benefits {
  padding: 49px 0 29px;
  background-color: #F6F6F6;

  @include tablet {
    padding: 30px 0;
  }

  &__items {
    display: flex;
    justify-content: center;

    @include small-tablet {
      flex-wrap: wrap;
    }

    @include mobile {
      justify-content: start;
    }
  }

  &__item {
    max-width: 264px;
    padding-left: 75px;
    position: relative;
    background-repeat: no-repeat;

    @include small-tablet {
      max-width: 100%;
    }

    &__text p {
      color: $dark-500;
    }

    &:not(:last-child) {
      margin-right: 65px;

      @include small-tablet {
        margin-bottom: 30px;
        margin-right: 20px;
      }
    }
  }

  &__title {
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 7px;
  }
}

.filters {
  display: flex;
  justify-content: center;
  margin-bottom: 48px;

  @include mobile {
    margin-bottom: 5px;
    flex-wrap: wrap;
  }

  &__item:not(:last-child) {
    margin-right: 24px;

    @include mobile {
      margin-right: 23px;
      padding-bottom: 15px;
    }
  }

  &__btn {
    font-weight: 700;
    font-size: 15px;
    color: $dark-500;
    text-transform: uppercase;
    border-bottom: 3px solid transparent;
    transition: border-bottom 0.3s ease-in;

    &.mixitup-control-active {
      border-bottom: 3px solid rgba(99, 166, 14, 0.2);
    }

    &:hover {
      border-bottom: 3px solid rgba(99, 166, 14, 0.2);
    }
  }
}

.product-box {
  &__inner {
    grid-auto-rows: 409px;
    margin-bottom: 45px;

    @include tablet {
      grid-template-columns: repeat(3, 1fr);
      grid-gap: 5px;
      margin-bottom: 24px;
    }

    @include small-tablet {
      grid-template-columns: repeat(2, 1fr);
      grid-auto-rows: auto;
    }

  }

  &__btn {
    display: block;
    margin: 0 auto;
  }
}


.product-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  padding: 55px 0 18px;
  border: 1px solid rgba(17, 17, 17, 0.2);
  border-radius: 6px;
  transition: border 0.3s ease-in;
  background-color: $white;
  position: relative;
  height: 100%;

  @include small-tablet {
    padding: 55px 0 12px
  }

  &.product-card--stock {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 7px;

    &.product-card--catalog {
      padding: 14px;
    }
  }

  &:hover {
    border: 1px solid $green-600;
  }

  &__sale {
    display: none;
    background-color: $red-900;

    .product-card--sale & {
      display: block;
    }

    .product-card--hit & {
      display: none;
    }
  }

  &__like {
    text-align: end;
    position: absolute;
    top: 17px;
    right: 18px;

    .product-card--stock & {
      top: 33%;
    }

    svg {
      width: 32px;
      height: 28px;
      fill: $silver-600;
      transition: fill 0.3s ease-in;

      &:hover {
        fill: $yellow-900;
      }
      @include small-tablet {
        width: 24px;
        height: 21px;
      }
    }
  }

  &__img {
    height: 225px;
    object-fit: cover;
    margin: 0 auto 8px;
    .product-card--stock & {
      height: 100px;
      margin: 0 12px 0 0;
    }

    .product-card--stock.product-card--catalog & {
      width: 200px;
      height: 150px;
    }


    @include mobile {
      height: 100%;
      object-fit: initial;
    }
  }

  &__name {
    font-size: 14px;
    font-weight: 600;
    @include line-clamp(14, 1.4, 3);

    @include small-tablet {
      margin-bottom: 48px;
    }

    .product-card--catalog & {
      margin-top: 26px;
      @include small-tablet {
        margin-top: 0;
      }
    }

    .product-card--stock.product-card--catalog & {
      max-width: 173px;
      @include extra-large {
        max-width: 85%;
      }
    }
  }

  &__inner {
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 0 18px;
    justify-content: space-between;
    position: relative;

    @include small-tablet {
      padding: 0 12px;
    }

    .product-card--stock & {
      width: 100%;
      padding: 0;
    }

    .product-card--finish &::before,
    .product-card--absent &::before,
    .product-card &::before {
      font-size: 10px;
      font-weight: 600;
      text-transform: uppercase;
      line-height: 1;
      position: absolute;
      bottom: 23%;
      @include mobile {
        font-size: 8px;
      }
    }

    .product-card &::before {
      display: none;
      content: "В наличии";
      color: $green-600;
    }

    .product-card.product-card--stock &::before,
    .product-card.product-card--catalog &::before {
      display: inline-block;
    }

    .product-card--finish &::before {
      content: "Заканчивается";
      color: $red-900;
    }

    .product-card--absent &::before {
      content: "Нет в наличии";
      color: $silver-600;
    }

    .product-card--catalog.product-card--finish &::before,
    .product-card--catalog.product-card--absent &::before,
    .product-card--catalog.product-card &::before {
      top: -15%;
      z-index: 1;
      bottom: auto;
    }

    .product-card--catalog.product-card--stock &::before {
      top: 0;
    }

  }

  &__box {
    display: flex;
    justify-content: space-between;
    color: $dark-500;

    .product-card--stock & {
      align-items: center;
      position: relative;
    }
  }

  &__prices {
    margin-top: auto;

    .product-card--stock & {
      display: flex;
      flex-direction: row-reverse;

      .product-card__old {
        font-size: 12px;
        margin-top: auto;
      }
    }

    .product-card--catalog & {
      flex-direction: column;
      margin-right: 12px;

      .product-card__old {
        font-size: 14px;
      }
    }
  }

  &__old {
    color: $silver-600;
    position: relative;
    display: none;

    .product-card--sale & {
      display: block;
    }

    &::before {
      content: "";
      position: absolute;
      border-bottom: 1px solid $silver-600;
      width: 100%;
      transform: rotate(-10deg);
      top: 50%;
    }
  }

  &__now {
    .product-card--stock & {
      font-size: 20px;
      font-weight: 600;
      line-height: 1;
      margin-right: 12px;
      color: $dark-500;

      @include small-tablet {
        margin-right: 5px
      }

      & sub {
        font-size: 14px;
        vertical-align: baseline;
        margin-left: -4px;
      }
    }

    .product-card--catalog & {
      font-size: 14px;
      font-weight: 400;
      margin-right: 0;
    }
  }

  &__raiting {
    display: none;
    font-weight: 700;
    color: $dark-500;
    padding-right: 17px;
    line-height: 1;
    position: relative;
    display: flex;
    justify-content: end;
    align-items: center;

    &::after {
      content: "";
      width: 16px;
      height: 16px;
      position: absolute;
      background-image: url("../images/icons/star.svg");
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      right: 0;
    }

    .product-card--stock & {
      display: flex;
      justify-content: end;
      align-items: center;
    }

    .product-card--catalog & {
      position: absolute;
      left: 18px;
      right: 18px;
      top: -25%;
      padding: 9px 17px;
      background-color: rgba($white, 0.5);
      @include mobile {
        font-size: 10px;
        right: 10px;
        left: 10px;
        &::after {
          width: 12px;
          height: 12px;
        }
      }
    }

    .product-card--catalog.product-card--stock & {
      right: 0;
      top: 0;
      padding: 0;
      padding-right: 17px;
      background-color: transparent;
    }
  }

  &__cart {
    width: 32px;
    height: 32px;
    background-color: $green-900;
    border-radius: 3px;
    margin-top: auto;
    position: relative;
    transition: background-color 0.3s ease-in, box-shadow 0.3s ease-in, opacity 0.3s ease-in;

    &:hover {
      background-color: #4D800C;
    }

    &:focus {
      box-shadow: 0 0 0 4px $green-200;
      outline: transparent;
    }

    &:active::before {
      opacity: 0.5;
    }

    &:active {
      box-shadow: inset 0 4px 4px rgba(0, 0, 0, 0.25);
      background-color: $green-600;
    }


    &::before {
      content: "";
      position: absolute;
      width: 15px;
      height: 15px;
      background-image: url("../images/icons/cart-product.svg");
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      transform: translate(-50%, -50%);
    }
  }

  &--new::before,
  &--hit::after,
  &__sale {
    font-size: 10px;
    font-weight: 700;
    padding: 3px 6px;
    border-radius: 6px;
    line-height: 1;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: $white;
    position: absolute;
    top: 12px;
    left: 12px;
  }

  &--new::before {
    content: "Новинки";
    background-color: $green-600;
  }

  &--hit::after {
    content: "Хит";
    background-color: $orange-900;
  }

  &--new .product-card__sale,
  &.product-card--new::after {
    top: 35px;
  }
}

.banners-card {
  padding-top: 0;

  &__inner {
    text-transform: uppercase;

    @include extra-large {
      grid-gap: 20px
    }

    @include tablet {
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 15px
    }

    @include mobile {
      grid-template-columns: repeat(1, 1fr);
    }
  }

  &__item {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 6px;
    color: $dark-500;

    &:first-child {
      color: $white;
      text-shadow: 2px 2px 0 rgba(0, 0, 0, 0.25);
      grid-column: span 2;

      @include tablet {
        grid-column: span 2;
      }

      @include mobile {
        grid-column: span 1;
      }

      h3,
      a {
        text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.25);
      }

      a {
        border-color: $white;
      }
    }

    &:nth-of-type(2) .banners-card__text,
    &:nth-of-type(3) .banners-card__text {
      @include small-tablet {
        max-width: 165px;
      }
    }
  }

  &__content {
    display: block;
    padding: 79px 31px;
    position: relative;

    @include small-tablet {
      padding: 76px 16px 30px;
    }
  }

  &__title {
    font-size: 12px;
    font-weight: 700;
    margin-bottom: 18px;
    line-height: 1;
    letter-spacing: 0.1em;
  }

  &__text {
    font-family: $font-ruda;
    font-weight: 600;
    font-size: 30px;
    margin-bottom: 12px;
    max-width: 360px;
    @include line-clamp (30, 1.4, 4);

    @include small-tablet {
      max-width: 230px;
      font-size: 24px;
      margin-bottom: 71px;
    }

    & p:not(:last-child) {
      margin-bottom: 10px;
    }
  }

  &__ref {
    display: inline-block;
    font-weight: 700;
    padding-bottom: 6px;
    border-bottom: 2px solid $dark-500;
    transition: opacity 0.3s ease-in;

    .banners-card__link:hover & {
      opacity: 0.5;
    }

    &::before {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      left: 0;
      bottom: 0;
    }
  }
}

.sale-box {
  background-color: #F5F5F5;

  &__inner {
    grid-auto-rows: 124px;

    @include extra-large {
      grid-template-columns: repeat(3, 1fr);
      grid-gap: 20px;
    }

    @include tablet {
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 15px;
    }

    @include mobile {
      grid-template-columns: repeat(1, 300px);
      justify-content: center;
    }
  }
}

.brands {
  &__inner {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  &__img {
    opacity: 0.5;
    transition: opacity 0.3s ease-in;
    height: 100%;
    margin: auto;

    &:hover {
      opacity: 1;
    }
  }

  .slick-track {
    display: flex;
    align-items: center;
  }
}

.news-box {
  padding-top: 0;

  &__head {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include mobile {
      flex-direction: column;
      align-items: flex-start;
    }
  }

  &__title {
    margin-bottom: 0;
  }

  &__ref {
    font-size: 14px;
    font-weight: 700;
    line-height: 1;
    color: $green-600;
    text-transform: uppercase;
    transition: color 0.3s ease-in;
    position: relative;

    &:hover,
    &:active {
      color: #4D800C;
    }

    &::after {
      content: "";
      display: block;
      width: 100%;
      height: 2px;
      background-color: $green-600;
      position: absolute;
      margin-top: 6px;
    }
  }

  &__inner {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
    padding-top: 30px;

    @include tablet {
      grid-template-columns: repeat(2, 1fr);
    }

    @include small-tablet {
      grid-gap: 15px;
      padding-top: 24px;
    }

    @include mobile {
      grid-template-columns: repeat(1, 1fr);
    }
  }

  &__item {
    &:first-child {
      @include tablet {
        grid-column: span 2;
      }

      @include mobile {
        grid-column: span 1;
      }
    }
  }
}

.news-card {
  transition: color 0.3s ease-in;
  height: 100%;

  &:hover {
    .news-card__title {
      color: $green-600;
    }
  }

  &__link {
    display: block;
    max-width: 410px;
    width: 100%;
    position: relative;
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.25);
    border-radius: 6px;
    height: inherit;

    @include tablet {
      max-width: 100%;
    }
  }

  img {
    width: 100%;
    height: 240px;
    object-fit: cover;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;

    @include small-tablet {
      height: 200px;
    }
  }

  &__date {
    font-family: $font-ruda;
    font-weight: 600;
    font-size: 30px;
    line-height: 1;
    text-transform: uppercase;
    position: absolute;
    width: 65px;
    padding: 18px 3px 14px;
    text-align: center;
    background-color: $white;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
    top: 0;
    left: 20px;

    & span:first-child {
      font-family: $font-opensans;
      font-size: 10px;
      font-weight: 700;
      letter-spacing: 0.1em;
      margin-bottom: 4px;
      word-wrap: break-word;
    }
  }

  &__title {
    font-size: 16px;
    line-height: 1.6;
    font-weight: 600;
    padding: 18px;
    transition: color 0.3s ease-in;

    & p:not(:last-child) {
      margin-bottom: 10px;
    }

    @include small-tablet {
      font-size: 14px;
      line-height: 1.4;
      padding: 15px;
    }
  }
}

.catalog {
  padding: 48px 0 73px;
  @include tablet {
    padding: 36px 0 50px;
  }
  @include small-tablet {
    padding: 30px 0 36px;
  }

  &__title {
    font-family: $font-ruda;
    font-weight: 700;
    font-size: 42px;
    line-height: 1.2;
    color: $dark-900;
    margin-bottom: 48px;
    text-transform: uppercase;
    @include tablet {
      font-size: 36px;
    }
    @include small-tablet {
      font-size: 30px;
      margin-bottom: 30px;
    }
  }

  &__inner {
    display: flex;
  }

  &__aside {
    flex: 0 0 300px;
    margin-right: 30px;
  }

  &__box {
    width: 100%;
  }

  &__filters {
    display: flex;
    justify-content: end;
    margin-bottom: 48px;
    @include small-tablet {
      justify-content: flex-start;
      margin-bottom: 30px;
    }
  }

  &__filter {
    width: 47px;
    height: 47px;
    background-color: #f6f6f6;
    display: none;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    border-radius: 3px;
    &--close {
      background-color: transparent;
      margin-left: auto;
      margin-bottom: 30px;
    }
    @include small-tablet {
      display: flex;
    }
  }

  &__select {
    display: inline-block;
    margin-right: 15px;
  }


  &__btn {
    width: 47px;
    height: 47px;
    line-height: 0;
    background-color: #f6f6f6;
    border-radius: 3px;

    &:not(:last-child) {
      margin-right: 15px;
    }

    svg {
      width: 35px;
      height: 35px;
      fill: $silver-600;
    }

    &--active {
      svg {
        fill: $green-600;
      }
    }
    @include  small-tablet {
      display: none;
    }
  }

  .product-box__inner {
    display: grid;
    grid-gap: 30px;
    grid-template-columns: repeat(3, 1fr);
    @include tablet {
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 15px;
      grid-auto-rows: auto;
    }
    @include small-tablet {
      grid-gap: 5px
    }

    &--line {
      grid-template-columns: repeat(2, 1fr);
      grid-auto-rows: 162px;
      @include extra-large {
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 15px;
      }
      @include small-tablet {
        grid-gap: 5px
      }
    }
  }

  &__list {
    display: flex;
    justify-content: space-between;
    @include tablet {
      flex-direction: column;
      align-items: center;
    }
  }

  &__pagination {
    display: flex;
    @include tablet {
      margin-top: 24px;
    }
  }

  &__items {
    display: flex;
    padding-left: 6px;
    padding-right: 6px;
  }

  &__item {
    &:not(:last-child) {
      margin-right: 6px;
    }
    @include mobile {
      &:nth-child(2),
      &:nth-child(4) {
        display: none;
      }
    }
  }

  &__ref {
    position: relative;

    svg {
      width: 11px;
      height: 18px;
    }
  }

  &__link {
    width: 48px;
    height: 48px;
    background-color: #f6f6f6;
    border-radius: 3px;
    font-size: 18px;
    color: $dark-500;
    line-height: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: border 0.3s ease-in;

    &--active {
      border: 1px solid $dark-500;
    }

    &:hover {
      border: 1px solid $silver-600;
    }
  }
}

.jq-selectbox__select {
  font-family: $font-opensans;
  font-size: 14px;
  line-height: 1.2;
  font-weight: 400;
  color: $dark-500;
  height: 47px;
  padding: 15px 45px 15px 15px;
  border: 1px solid $silver-600;
  border-bottom-color: #b3b3b3;
  border-radius: 3px;
  background: transparent;
  text-shadow: none;
  box-shadow: none;
  display: flex;
  justify-content: center;
  align-items: center;

  &:focus {
    box-shadow: 0 0 0 3px #E0EDCF;
  }
  @include small-tablet {
    font-size: 12px;
    padding: 15px 24px 15px 6px;
  }
}

.jq-selectbox__trigger {
  border-left: none;
}

.jq-selectbox__trigger-arrow {
  position: absolute;
  width: 10px;
  height: 6px;
  background-image: url("../images/icons/filter-arrow.svg");
  background-repeat: no-repeat;
  top: 50%;
  transform: translateY(-50%);
  right: 15px;
  border: none;
  @include small-tablet {
    right: 9px;
  }
}

.jq-selectbox__dropdown {
  width: 100%;
  margin: 0;
  border: 1px solid $silver-600;
  border-radius: 0 0 6px 6px;
  box-shadow: none;
}


.jq-selectbox li {
  font-size: 14px;
  line-height: 1.2;
  color: $dark-500;
  min-height: 18px;
  padding: 12px 9px;
}

.jq-selectbox li.selected {
  background-color: transparent;
  color: $dark-500;
}

.jq-selectbox.focused .jq-selectbox__select {
  box-shadow: 0 0 0 3px #E0EDCF;
  border: 1px solid $silver-600;
}

.jq-selectbox.opened .jq-selectbox__select {
  background: #FFFFFF;
  border: 1px solid #505050;
  border-radius: 3px 3px 0 0;
  box-shadow: none;
}



.aside-catalog {
  background-color: $white;
  @include small-tablet {
    position: fixed;
    transform: translateX(-300%);
    opacity: 0;
    transition: transform 0.3s ease-in, opacity 0.3s ease-in;
  }
  &--active {
    transform: translateX(-5%);
    opacity: 1;
    z-index: 15;
    padding-top: 29px;
    padding-right: 21px;
    height: 100vh;
    overflow: auto;
    top: 0;
    &::before {
      content: "";
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background-color: black;
    }
  }
  &__item {
    border: 1px solid $silver-600;
    border-radius: 6px;

    &:not(:last-child) {
      margin-bottom: 30px;
    }

    &:first-child {
      .aside-catalog__text {
        padding-left: 0;
      }
    }
  }

  &__header {
    padding: 18px;
    position: relative;

    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 1px;
      background-color: $silver-600;
    }
  }

  &__title {
    font-family: $font-ruda;
    font-size: 24px;
    font-weight: 400;
    line-height: 1.2;
    position: relative;

    &::after {
      content: "";
      background-image: url(../images/icons/catalog-arrow.svg);
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      position: absolute;
      right: 0;
      top: 50%;
      transform: translateY(-50%);
      width: 18px;
      height: 11px;
    }

    &--active::after {
      transform: rotate(180deg);
    }
  }

  &__content {
    padding: 18px;

    &--scrollbar {
      height: 298px;
      overflow: auto;
    }
  }

  &__label {
    display: flex;
    cursor: pointer;

    &:not(:last-child) {
      margin-bottom: 12px;
    }

    &:hover {
      .aside-catalog__checkbox {
        border-color: $dark-500;
      }
    }
  }

  &__text {
    font-size: 18px;
    color: $dark-500;
    padding-left: 36px;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &__input {
    width: 1px;
    height: 1px;
    overflow: hidden;
    clip: rect(0 0 0 0);
    position: absolute;

    &:checked+.aside-catalog__checkbox {
      background-image: url("../images/icons/checkbox-arrow.svg");
      background-repeat: no-repeat;
      background-position: center;
      border-color: $dark-500;
    }
  }

  &__checkbox {
    width: 24px;
    height: 24px;
    border-radius: 3px;
    background-color: #f6f6f6;
    border: 1px solid $silver-600;
    position: absolute;
  }

  &__price {
    font-size: 16px;
    line-height: 1.2;
    color: $silver-600;
    padding-bottom: 7px;

    &:first-child {
      margin-right: auto;
    }
  }

  &__to,
  &__from {
    min-width: 80px;
    display: inline-block;
    padding: 10px 0;
    font-size: inherit;
    text-align: center;
    background-color: #f6f6f6;
    border: 1px solid $silver-600;
    border-radius: 3px;
    color: $dark-500;
  }
}

.simplebar-track.simplebar-vertical .simplebar-scrollbar:before {
  height: 126px;
  top: 2px;
  bottom: 2px;
  width: 4px;
  right: 0;
  left: 6px;
  background-color: #c4c4c4;
}

.irs--flat {
  height: 18px;
}

.irs--flat .irs-line,
.irs--flat .irs-bar {
  height: 2px;
  top: 8px;
}

.irs--flat .irs-bar {
  background-color: $green-600;
}

.irs--flat .irs-handle>i:first-child {
  display: none;
}

.irs-from,
.irs-to,
.irs-single {
  display: none;
}

.irs--flat .irs-handle {
  width: 18px;
  height: 18px;
  background-color: $green-600;
  border-radius: 50%;
  top: 0;
}

.irs--flat .irs-min,
.irs--flat .irs-max {
  display: none;
}

.product-main {
  padding: 48px 84px;
  &__gallery {
    max-width: 630px;
    width: 100%;
    padding: 69px 0;
    border: 1px solid $silver-600;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $white;
  }
  &__inner {
    display: flex;
    justify-content: space-between;
  }
  &__title {
    font-family: $font-ruda;
    font-size: 32px;
    font-weight: 600;
    line-height: 1.2;
    color: $dark-900;
    margin-bottom: 18px;
  }
  &__bages {
    display: inline-block;
    padding: 6px 9px;
    border-radius: 6px;
    font-size: 16px;
    font-weight: 700;
    line-height: 1;
    color: $white;
    margin-bottom: 18px;
  }
  &__form {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 30px;
  }
  &__code {
    padding: 4px 5px;
    background-color: #f6f6f6;
    color: $silver-600;
    border-radius: 3px;
    margin-right: 12px;
  }
  &__star {
    margin-right: auto;
  }
  &__presence {
    font-size: 16px;
    font-weight: 600;
    line-height: 1;
  }
  &__prices {
    display: flex;
    align-items: end;
    margin-bottom: 59px;
  }
  &__old {
    font-size: 20px;
    font-weight: 700;
    line-height: 1;
    color: $silver-600;
    margin-right: 18px;
    position: relative;
    &::before {
      content: "";
      width: 100%;
      height: 1px;
      background-color: $silver-600;
      position: absolute;
      left: 0;
      top: 10px;
      transform: rotate(165deg);
    }
  }
  &__new {
    font-size: 30px;
    font-weight: 700;
    line-height: 1;
    color: $green-600;
  }
  &__btn {
    padding: 14px 12px 14px 49px;
    border-radius: 3px;
    font-size: 16px;
    font-weight: 600;
    line-height: 1;
    text-transform: uppercase;
    margin-right: auto;
    position: relative;
    &::before {
      content: "";
      background-image: url("../images/icons/cart.svg");
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      width: 24px;
      height: 23px;
      position: absolute;
      left: 12px;
      top: 12px;
    }
  }
  &__like {
    svg {
      width: 44px;
      height: 39px;
      fill: $silver-600;
      transition: fill 0.3s ease-in, opacity 0.3s ease-in;
      &:hover {
        fill: $yellow-900;
      }
      &:active {
        opacity: 0.5;
      }
    }
  }
  &__smalltitle {
    font-family: $font-ruda;
    font-size: 18px;
    line-height: 1.2;
    font-weight: 600;
    padding-bottom: 18px;
    border-bottom: 1px solid $silver-600;
    margin-bottom: 18px;
  }
  &__text {
    margin-bottom: 18px;
    p:not(:last-child){
      margin-bottom: 10px;
    }
  }
  &__link {
    color: $green-600;
    line-height: 1.2;
    border-bottom: 1px solid transparent;
    transition: color 0.3s ease-in, box-shadow 0.3s ease-in;
    &:hover {
      text-decoration: underline;
    }
    &:active {
      color: #4D800C;
    }
    &:focus {
      box-shadow: 0 0 0 4px $green-200;
      border-radius: 3px;
    }
  }
}

.jq-number__spin.minus,
.jq-number__spin.plus {
  width: 44px;
  height: 44px;
  bottom: 0;
  border: 1px solid #ccc;
  border-bottom-color: #b3b3b3;
  background: $green-600;
  box-shadow: none;
  text-shadow: none;
  cursor: pointer;
}

.jq-number__spin.minus {
  left: 0;
  border-bottom-left-radius: 3px;
  border-top-left-radius: 3px;
}

.jq-number__spin.plus {
  border-bottom-right-radius: 3px;
  border-top-right-radius: 3px;
}
.jq-number__spin.minus::after,
.jq-number__spin.plus::after,
.jq-number__spin.plus::before {
  border:none;
  height: 3px;
  width: 29px;
  background-color: $white;
  border-radius: 4px;
  top: 50%;
  transform: translateY(-50%);
  position: absolute;
}
.jq-number__spin.plus::before {
  content: "";
  height: 29px;
  width: 3px;
  left: 20px;
}

.jq-number__spin.minus::after,
.jq-number__spin.plus::after {
  left: 7px;
}

.jq-number__field {
  height: 44px;
  width: 158px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba($green-600, 0.1);
  border: none;
  input {
    width: 70px;
    text-align: center;
    font-size: 20px;
    color: $dark-900;
  }
}

.jq-number {
  padding: 0;
  margin-right: 18px;
}

.footer {
  background-color: $dark-400;
  padding: 30px 0 25px;
  color: $white;
  position: relative;

  @include tablet {

    &::before,
    &::after {
      content: "";
      position: absolute;
      width: 100%;
      height: 1px;
      background-color: rgba($white, 0.1);
      left: 0;
      right: 0;
    }

    &::before {
      top: 45%;

      @include mobile {
        top: 38%;
      }
    }

    &::after {
      bottom: 35%;

      @include mobile {
        bottom: 37%;
      }
    }
  }

  @include small-tablet {
    padding: 24px 0;
  }

  & .logo {
    @include small-tablet {
      display: block;

      img {
        margin: 0 auto;
      }
    }
  }

  &__inner {
    display: flex;
    justify-content: space-between;
    padding: 30px 0;

    @include tablet {
      flex-direction: column-reverse;
      align-items: center;
      padding-top: 30px;
      padding-bottom: 24px;
    }
  }

  &__list {
    padding-left: 80px;
    column-count: 3;
    column-gap: 75px;

    @include mobile {
      column-count: 2;
      column-gap: 50px;
    }

    // white-space: nowrap;
    @include tablet {
      padding: 21px 0;
      margin: 24px 0;
    }
  }

  &__link {
    display: inline-block;
    transition: color 0.3s ease-in;

    &:not(:last-child) {
      margin-bottom: 18px;
    }

    &:hover {
      color: $silver-600;
    }
  }

  &__item:not(:last-child) {
    margin-bottom: 18px;
  }


  &__address {
    line-height: 140%;
    font-style: normal;
  }

  &__phone,
  &__street {
    display: block;
    margin-bottom: 18px;
  }

  &__social {
    display: flex;
    padding-left: 9px;

    @include small-tablet {
      justify-content: center;
    }
  }

  &__social-item:not(:last-child) {
    margin-right: 12px;
  }

  &__social-link {
    display: block;
    width: 32px;
    height: 32px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    transition: opacity 0.3s ease-in;

    &:hover,
    &:active {
      opacity: 0.7;
    }
  }

  &__copyright {
    border-top: 1px solid rgba($white, 0.1);
    padding-top: 24px;

    &-text {
      display: flex;
      align-items: center;
    }
  }

  &__box {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include mobile {
      flex-direction: column-reverse;
    }
  }

  &__paymet {
    display: flex;

    @include mobile {
      margin-bottom: 24px;
    }

    & img:last-child {
      margin-left: 24px;
    }
  }
}