@import 'reset';
@import 'fonts';
@import 'vars';
@import 'mixin';
@import 'libs';
@import 'global';

.body--lock {
  overflow: hidden;
}

.logo {
  display: inline-block;

  img {
    max-width: 200px;
    object-fit: cover;
  }
}

.header-menu {
  max-width: 300px;
  width: 100%;
  font-size: 18px;
  font-weight: 400;
  background-color: $white;
  color: $dark-400;
  padding-top: 26px;
  padding-bottom: 24px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 5;
  transform: translateX(-200%);
  transition: transform 0.3s ease-in;

  &__top {
    display: flex;
    justify-content: space-between;
    padding-left: 15px;
    padding-right: 26px;
    padding-bottom: 26px;
  }

  &__users {
    font-size: 18px;
    line-height: 1;
    font-weight: 400;
    padding-left: 40px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 55px;
    background-color: $green-600;
    color: $white;
    position: relative;

    &::before {
      content: "";
      position: absolute;
      width: 25px;
      height: 32px;
      background-image: url("../images/icons/user.svg");
      left: 15px;
      top: 10px;
    }
  }

  &__login {
    padding-right: 12px;
    border-right: 2px solid $white;
  }

  &__regist {
    padding-left: 12px;
  }

  &__catalog {
    padding: 15px 10px 15px 56px;
    font-weight: 600;
    position: relative;

    &::before {
      content: "";
      position: absolute;
      background-image: url("../images/mobile-icon/burger.svg");
      width: 25px;
      height: 19px;
      left: 15px;
      top: 50%;
      transform: translateY(-50%);
    }
  }

  &__contacts {
    padding: 24px 15px;
    border-top: 1px solid rgba(193, 193, 193, 0.3);
    border-bottom: 1px solid rgba(193, 193, 193, 0.3);
  }

  &__addres {
    color: $dark-400;
    margin-bottom: 18px;
    padding-left: 40px;
  }

  &__tel {
    display: block;
    margin-bottom: 18px;
    position: relative;
    line-height: 1;

    &::before {
      content: "";
      position: absolute;
      width: 24px;
      height: 24px;
      background-image: url("../images/mobile-icon/tel.svg");
      left: -40px;
    }
  }

  &__street {
    position: relative;

    &::before {
      content: "";
      position: absolute;
      width: 24px;
      height: 33px;
      background-image: url("../images/mobile-icon/geo.svg");
      left: -40px;
      top: 9px;
    }
  }

  &__inner {
    display: flex;
  }

  &__item:not(:last-child) {
    margin-right: 12px;
  }

  &__nav {
    line-height: 1.2;
    text-transform: capitalize;
    padding-top: 24px;
    padding-left: 15px;
  }

  &__link:not(:last-child) {
    margin-bottom: 15px;
  }

  &--active {
    transform: translateX(0%);

  }
}

.header {
  position: relative;

  &__top {
    font-size: 13px;
    font-weight: 700;
    padding: 17px 0 15px;
    color: white;
    background-color: $dark-400;
  }

  &__burger {
    display: none;

    @include small-tablet {
      display: block;
    }
  }

  &__item--mobile {
    display: none;
  }

  &__sub {
    background-color: $green-900;
    padding: 25px 15px;
  }

  &__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__link {
    font-size: 13px;
    font-weight: 700;
    text-transform: uppercase;
    transition: opacity 0.3s ease-in;

    @include small-tablet {
      display: none;
    }

    &:hover {
      opacity: 0.7
    }

    &--address,
    &--number {
      padding-left: 44px;
      position: relative;

      &::before {
        content: "";
        position: absolute;
        width: 22px;
        height: 23px;
        top: -3px;
        left: -1px;
      }
    }

    &--address {
      margin-right: 48px;

      @include tablet {
        margin-right: 31px;
      }

      &::before {
        background-image: url("../images/icons/del-address.svg");
        width: 32px;
      }
    }

    &--number::before {
      background-image: url("../images/icons/tel.svg");
    }
  }

  &__menu {
    display: flex;
    margin-left: auto;
  }

  &__item:not(:last-child) {
    margin-right: 24px;
  }

  &__link-mobile {
    display: none;

    &:not(:last-child) {
      margin-right: 31px;
    }

    @include small-tablet {
      display: block;
    }
  }

  &__users {
    display: flex;
    align-items: center;
  }

  &__user:not(:last-child) {
    margin-right: 35px;
  }


  &__btn {
    position: relative;
    cursor: pointer;

    &::after {
      content: "";
      position: absolute;
      background-color: transparent;
      width: 50px;
      height: 50px;
      border-radius: 3px;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      transition: background-color 0.15s ease-in;
    }

    &:hover::after {
      background-color: rgba($white, 0.1);
    }

    &--profile {
      background-image: url("../images/icons/user.svg");
      width: 25px;
      height: 32px;
    }

    &--like {
      background-image: url("../images/icons/heart.svg");
      width: 32px;
      height: 28px;
    }

    &--cart {
      background-image: url("../images/icons/cart.svg");
      width: 32px;
      height: 31px;
    }

    &--search {
      background-image: url("../images/icons/search-btn.svg");
      width: 24px;
      height: 24px;
    }
  }

  &__btn--search {
    display: none;

    @include tablet {
      display: block;
    }
  }

  &__num {
    position: absolute;
    width: 18px;
    text-align: center;
    height: 18px;
    line-height: 18px;
    top: -7px;
    left: -9px;
    background-color: $white;
    color: $red-900;
    opacity: 0;
    border-radius: 50%;
    font-size: 10px;
    font-weight: 600;
    transition: opacity 0.3s ease-in;

    &--visible {
      opacity: 1;
    }
  }
}

.header-catalog {
  margin: 0 15px;
  position: relative;

  @include tablet {
    margin-right: auto;
  }

  @include small-tablet {
    display: none;
  }

  &__btn {
    width: 100%;
    padding: 16px 38px 15px 61px;
    text-overflow: ellipsis;
    border-radius: 5px;
    background-color: $white;
    position: relative;
    font-weight: 600;
    color: $green-900;
    transition: background-color 0.3s ease-in;
    z-index: 2;


    &:hover,
    &:active {
      background-color: $green-200;
    }

    &::before,
    &::after {
      content: "";
      position: absolute;
      width: 25px;
      height: 18px;
      top: 50%;
      transform: translateY(-50%);
    }

    &::before {
      background-image: url("../images/icons/burger.svg");
      left: 18px;
    }

    &::after {
      background-image: url("../images/icons/arrow.svg");
      width: 8px;
      height: 4px;
      right: 23px;
      transition: transform 0.3s ease-in;

      .header-catalog--active & {
        transform: rotate(180deg);
      }
    }

    .header-catalog--active & {
      background-color: $green-200;
    }
  }

  &__menu {
    position: absolute;
    transform: translateY(-100%);
    transition: all 0.5s;
    background-color: $white;
    border-bottom-right-radius: 6px;
    border-bottom-left-radius: 6px;
    width: 100%;
    visibility: hidden;

    .header-catalog--active & {
      position: absolute;
      top: 95%;
      right: 0;
      left: 0;
      transform: translateY(0%);
      z-index: 1;
      visibility: visible;
    }

  }

  &__item:not(:last-child) {
    border-bottom: 1px solid rgba(193, 193, 193, 0.3);
  }

  &__link {
    display: block;
    padding: 15px 5px 15px 24px;
    color: #000;
    border-left: 3px solid transparent;
    transition: border-left 0.3s ease-in, color 0.3s ease-in;

    &:hover {
      border-left: 3px solid $green-900;
      color: $green-900;
    }
  }
}

.form {
  max-width: 576px;
  width: 100%;
  position: relative;

  @include tablet {
    max-width: 100%;
    border-radius: 0;
  }

  &.form--subscribe {
    display: block;
    max-width: 306px;
    line-height: 1;

    &::before {
      display: none;
    }
  }

  &::before {
    content: "";
    width: 20px;
    height: 20px;
    background-image: url("../images/icons/search.svg");
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 13px;
  }

  &__label {
    .form--subscribe & {
      display: block;
      margin-bottom: 18px;
    }
  }

  &__input {
    max-width: 420px;
    width: 100%;
    padding: 15px 51px;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
    border: 1px solid transparent;
    transition: box-shadow 0.3s ease-in, border 0.3s ease-in;

    &::placeholder {
      color: $dark-400;
    }

    &:focus {
      outline: transparent;
      border: 1px solid #63A60E;
      box-shadow: 0 0 0 3px $green-200;
    }

    .form--subscribe & {
      max-width: 180px;
      padding: 11px;
      border-width: 0;
    }
  }

  &__btn {
    padding: 16px 54px;
    font-size: 14px;
    font-weight: 600;
    line-height: 1.4;
    background-color: $dark-400;
    color: $white;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
    transition: box-shadow 0.3s ease-in, background-color 0.3s ease-in, color 0.3s ease-in;
    text-transform: uppercase;
    position: absolute;
    right: 0;

    &:hover {
      background-color: rgba(49, 53, 43, 0.85);

      .form--subscribe & {
        background-color: #4d800c;
      }
    }

    &:focus {
      box-shadow: 0 0 0 4px rgba(255, 255, 255, 0.5);
      border-top-right-radius: 6px;
      border-bottom-right-radius: 6px;
      outline: transparent;

      .form--subscribe & {
        box-shadow: 0 0 0 4px #E0EDCF;
      }
    }

    &:active {
      color: rgba($white, 0.5);
      background-color: $dark-400;
      box-shadow: inset 0 4px 4px rgba(0, 0, 0, 0.25);

      .form--subscribe & {
        color: rgba($white, 0.5);
        background-color: $green-600;
        box-shadow: inset 0 4px 4px rgba(0, 0, 0, 0.25);
      }
    }

    .form--subscribe & {
      font-size: 12px;
      font-weight: 700;
      text-transform: uppercase;
      background-color: $green-600;
      color: $white;
      padding: 13px 17px;
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
    }
  }

  &--before {
    .form__btn {
      @include tablet {
        border-radius: 0;
      }
    }

    .form__input {
      @include tablet {
        max-width: 100%;
        border-radius: 0;
      }
    }

    @include tablet {
      display: none;
      position: absolute;
      bottom: -45px;
      z-index: 1;
      right: 0;
      left: 0;
      transform: translateY(-100%);
    }
  }

  &--active {
    display: block;
    transform: translateY(0%);
  }
}

.cart__menu {
  position: absolute;
  bottom: 0;
  top: 0;
  right: 0;
  background-color: #F6F6F6;
  z-index: 5;
  max-width: 475px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: #000;
  transform: translateY(-200%);
  transition: transform 0.4s ease-in;


  &-top {
    padding: 19px 24px 12px;
    background-color: $white;
    display: flex;
    justify-content: space-between;
  }

  &-title,
  &-subtitle {
    font-size: 24px;
    line-height: 1.2;
  }

  &-clear {
    font-weight: 300;
  }

  &-close {
    width: 24px;
    height: 24px;
    position: relative;

    &::before {
      content: "";
      position: absolute;
      background-image: url("../images/icons/close.svg");
      width: inherit;
      height: inherit;
      left: 0;
    }
  }

  &-sum {
    font-size: 24px;
    font-weight: 600;
    color: $dark-500;
  }

  &-inner {
    display: flex;
    justify-content: space-between;
    padding: 24px;
    background-color: $white;
  }

  &-arrange {
    width: 100%;
    padding: 22px;
    font-size: 18px;
    background-color: $green-900;
    color: $white;
  }

  &--active {
    display: flex;
    transform: translateY(0%);
  }
}

.discounts-slider {
  &__box {
    display: flex !important;
    justify-content: center;
    align-items: center;
    display: block;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 0 15px;
    height: 600px;

    @include mobile {
      padding: 0;
    }
  }

  &__inner {
    max-width: 1290px;
    width: 100%;
    padding: 24px;
    background-color: rgba($white, 0.8);
    border-radius: 6px;
    position: relative;

    @include tablet {
      padding: 15px;
    }
  }

  &__title {
    font-family: $font-ruda;
    font-weight: 900;
    line-height: 1.3;
    max-width: 770px;
    width: 100%;
    font-size: 60px;
    color: $dark-500;
    margin-bottom: 12px;
    letter-spacing: 0;
    text-transform: uppercase;

    @include tablet {
      font-size: 50px;
    }

    @include small-tablet {
      font-size: 35px;
    }

    @include mobile {
      font-size: 20px;
    }
  }

  &__subtitle {
    color: $red-900
  }

  &__text p {
    font-size: 16px;
    color: $dark-500;
    margin-bottom: 32px;

    @include small-tablet {
      margin-bottom: 24px;
    }
  }

  .slick-arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 2;
    border: 1px solid transparent;
    width: 60px;
    height: 60px;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 6px;
    border: 1px solid $silver-600;
    transition: background-color 0.3s ease-in, border-color 0.3s ease-in, box-shadow 0.3s ease-in;

    &--prev {
      left: 60px;
    }

    &--next {
      right: 60px;
    }

    svg {
      width: 18px;
      height: 32px;
      fill: $dark-500;
      transition: fill 0.3s ease-in;
    }


    &:hover,
    &:active {
      background-color: $green-200;
      border-color: $green-600;
      box-shadow: none;

      svg {
        fill: $green-600;
      }
    }

    &:focus {
      box-shadow: 0 0 0 3px rgba(99, 166, 14, 0.5);
      outline: none;
    }
  }

  .slick-dots {
    display: flex;
    position: absolute;
    bottom: 17px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 0;

    li {
      margin: 0 6px;
    }

    li button {
      width: 15px;
      height: 15px;
      background-color: $white;
      border: 2px solid $silver-600;
      border-radius: 50%;
    }

    .slick-active button {
      border-color: $green-600;
      background-color: $green-600;
    }
  }
}

.benefits {
  padding: 49px 0 29px;
  background-color: #F6F6F6;

  @include tablet {
    padding: 30px 0;
  }

  &__items {
    display: flex;
    justify-content: center;

    @include small-tablet {
      flex-wrap: wrap;
    }

    @include mobile {
      justify-content: start;
    }
  }

  &__item {
    max-width: 264px;
    padding-left: 75px;
    position: relative;
    background-repeat: no-repeat;

    @include small-tablet {
      max-width: 100%;
    }

    &__text p {
      color: $dark-500;
    }

    &:not(:last-child) {
      margin-right: 65px;

      @include small-tablet {
        margin-bottom: 30px;
      }
    }
  }

  &__title {
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 7px;
  }
}

.filters {
  display: flex;
  justify-content: center;
  margin-bottom: 48px;

  @include mobile {
    margin-bottom: 9px;
    flex-wrap: wrap;
  }

  &__item:not(:last-child) {
    margin-right: 24px;

    @include mobile {
      margin-right: 31px;
      padding-bottom: 15px;
    }
  }

  &__btn {
    font-weight: 700;
    font-size: 15px;
    color: $dark-500;
    text-transform: uppercase;
    border-bottom: 3px solid transparent;
    transition: border-bottom 0.3s ease-in;

    &.mixitup-control-active {
      border-bottom: 3px solid rgba(99, 166, 14, 0.2);
    }

    &:hover {
      border-bottom: 3px solid rgba(99, 166, 14, 0.2);
    }
  }
}

.product-box {
  &__inner {
    // display: grid;
    // grid-template-columns: repeat(4, 1fr);
    // grid-gap: 30px;
    grid-auto-rows: 409px;
    margin-bottom: 45px;

    @include extra-large {
      grid-template-columns: repeat(3, 1fr);
      grid-gap: 20px;
    }

    @include tablet {
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 5px;
      margin-bottom: 24px;
    }

    // &--stock {
    //   @include mobile {
    //     grid-template-columns: repeat(1, 1fr);
    //     grid-gap: 15px;
    //   }
    // }
  }

  &__btn {
    display: block;
    margin: 0 auto;
  }
}


.product-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  padding-top: 35px;
  padding: 56px 0 18px;
  border: 1px solid rgba(17, 17, 17, 0.2);
  border-radius: 6px;
  transition: border 0.3s ease-in;
  background-color: $white;
  position: relative;
  height: 100%;

  &.product-card--stock {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 7px;
  }

  &:hover {
    border: 1px solid $green-600;
  }

  &__sale {
    display: none;
    background-color: $red-900;

    .product-card--sale & {
      display: block;
    }

    .product-card--hit & {
      display: none;
    }
  }

  &__like {
    text-align: end;
    position: absolute;
    top: 17px;
    right: 18px;

    svg {
      width: 32px;
      height: 28px;
      fill: $silver-600;
      transition: fill 0.3s ease-in;

      &:hover {
        fill: $yellow-900;
      }
    }
  }

  &__img {
    height: 225px;
    object-fit: cover;
    margin: 0 auto 8px;

    .product-card--stock & {
      height: 100px;
      margin: 0 12px 0 0;
    }

    @include mobile {
      height: 100%;
      object-fit: initial;
    }
  }

  &__name {
    font-size: 14px;
    font-weight: 600;
    margin-bottom: auto;
    -webkit-line-clamp: 3;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }

  &__inner {
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 0 18px;

    .product-card--stock & {
      max-width: 164px;
      width: 100%;
      padding: 0;

      @include extra-large {
        max-width: 100%;
      }
    }
  }

  &__box {
    display: flex;
    justify-content: space-between;
    color: $dark-500;
    position: relative;

    .product-card--stock & {
      align-items: center;
      position: relative;
    }

    .product-card--finish &::before,
    .product-card--absent &::before,
    .product-card--stock &::before {
      font-size: 10px;
      font-weight: 600;
      text-transform: uppercase;
      line-height: 1;
      position: absolute;
      top: -15px;
    }

    .product-card--stock &::before {
      content: "В наличии";
      color: $green-600;
    }

    .product-card--finish &::before {
      content: "Заканчивается";
      color: $red-900;
    }

    .product-card--absent &::before {
      content: "Нет в наличии";
      color: $silver-600;
    }
  }

  &__prices {
    margin-top: auto;

    .product-card--stock & {
      display: flex;
      flex-direction: row-reverse;

      .product-card__old {
        font-size: 12px;
        margin-top: auto;
      }
    }
  }

  &__old {
    color: $silver-600;
    position: relative;
    display: none;

    .product-card--sale & {
      display: block;
    }

    &::before {
      content: "";
      position: absolute;
      border-bottom: 1px solid $silver-600;
      width: 100%;
      transform: rotate(-10deg);
      top: 50%;
    }
  }

  &__now {
    .product-card--stock & {
      font-size: 20px;
      font-weight: 600;
      line-height: 1;
      margin-right: 12px;
      color: $dark-500;

      & sub {
        font-size: 14px;
        vertical-align: baseline;
        margin-left: -4px;
      }
    }
  }

  &__raiting {
    display: none;

    .product-card--stock & {
      display: block;
      font-weight: 700;
      color: $dark-500;
      padding-right: 17px;
      line-height: 1;
      position: relative;

      &::after {
        content: "";
        width: 16px;
        height: 15px;
        position: absolute;
        background-image: url("../images/icons/star.svg");
        right: 0;
        top: -1px;
      }
    }
  }

  &__cart {
    width: 32px;
    height: 32px;
    background-color: $green-900;
    border-radius: 3px;
    margin-top: auto;
    position: relative;
    transition: background-color 0.3s ease-in, box-shadow 0.3s ease-in, opacity 0.3s ease-in;

    &:hover {
      background-color: #4D800C;
    }

    &:focus {
      box-shadow: 0 0 0 4px $green-200;
      outline: transparent;
    }

    &:active::before {
      opacity: 0.5;
    }

    &:active {
      box-shadow: inset 0 4px 4px rgba(0, 0, 0, 0.25);
      background-color: $green-600;
    }


    &::before {
      content: "";
      position: absolute;
      width: 15px;
      height: 15px;
      background-image: url("../images/icons/cart-product.svg");
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      transform: translate(-50%, -50%);
    }
  }

  &--new::before,
  &--hit::after,
  &__sale {
    font-size: 10px;
    font-weight: 700;
    padding: 3px 6px;
    border-radius: 6px;
    line-height: 1;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: $white;
    position: absolute;
    top: 12px;
    left: 12px;
  }

  &--new::before {
    content: "Новинки";
    background-color: $green-600;
  }

  &--hit::after {
    content: "Хит";
    background-color: $orange-900;
  }

  &--new .product-card__sale,
  &.product-card--new::after {
    top: 35px;
  }
}

.banners-card {
  padding-top: 0;

  &__inner {
    text-transform: uppercase;

    @include extra-large {
      grid-gap: 20px
    }

    @include tablet {
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 15px
    }

    @include mobile {
      grid-template-columns: repeat(1, 1fr);
    }
  }

  &__item {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 6px;
    color: $dark-500;

    &:first-child {
      color: $white;
      text-shadow: 2px 2px 0 rgba(0, 0, 0, 0.25);
      grid-column: span 2;

      @include tablet {
        grid-column: span 2;
      }

      @include mobile {
        grid-column: span 1;
      }

      h3,
      a {
        text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.25);
      }

      a {
        border-color: $white;
      }
    }
  }

  &__content {
    display: block;
    padding: 79px 31px;
    position: relative;

    @include small-tablet {
      padding: 76px 16px 30px;
    }
  }

  &__title {
    font-size: 12px;
    font-weight: 700;
    margin-bottom: 18px;
    line-height: 1;
    letter-spacing: 0.1em;
  }

  &__text {
    font-family: $font-ruda;
    font-weight: 600;
    font-size: 30px;
    margin-bottom: 12px;
    max-width: 360px;

    @include small-tablet {
      max-width: 260px;
      font-size: 24px;
      margin-bottom: 77px;
    }

    & p:not(:last-child) {
      margin-bottom: 10px;
    }
  }

  &__ref {
    display: inline-block;
    font-weight: 700;
    padding-bottom: 6px;
    border-bottom: 2px solid $dark-500;
    transition: opacity 0.3s ease-in;

    .banners-card__link:hover & {
      opacity: 0.5;
    }

    &::before {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      left: 0;
      bottom: 0;
    }
  }
}

.sale-box {
  background-color: #F5F5F5;

  &__inner {
    grid-auto-rows: 124px;

    @include mobile {
      grid-template-columns: repeat(1, 1fr);
      grid-gap: 15px;
    }
  }
}

.brands {
  &__inner {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  &__img {
    opacity: 0.5;
    transition: opacity 0.3s ease-in;
    height: 100%;
    margin: auto;

    &:hover {
      opacity: 1;
    }
  }

  .slick-track {
    display: flex;
    align-items: center;
  }
}

.news-box {
  padding-top: 0;

  &__head {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include mobile {
      flex-direction: column;
      align-items: flex-start;
    }
  }

  &__title {
    margin-bottom: 0;
  }

  &__ref {
    font-size: 14px;
    font-weight: 700;
    line-height: 1;
    color: $green-600;
    text-transform: uppercase;
    transition: color 0.3s ease-in;
    position: relative;

    &:hover,
    &:active {
      color: #4D800C;
    }

    &::after {
      content: "";
      display: block;
      width: 100%;
      height: 2px;
      background-color: $green-600;
      position: absolute;
      margin-top: 6px;
    }
  }

  &__inner {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
    padding-top: 30px;

    @include tablet {
      grid-template-columns: repeat(2, 1fr);
    }

    @include small-tablet {
      grid-gap: 15px;
      padding: 24px;
    }

    @include mobile {
      grid-template-columns: repeat(1, 1fr);
    }
  }

  &__item {
    &:first-child {
      @include tablet {
        grid-column: span 2;
      }

      @include mobile {
        grid-column: span 1;
      }
    }
  }
}

.news-card {
  transition: color 0.3s ease-in;
  height: 100%;

  &:hover {
    .news-card__title {
      color: $green-600;
    }
  }

  &__link {
    display: block;
    max-width: 410px;
    width: 100%;
    position: relative;
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.25);
    border-radius: 6px;
    height: inherit;

    @include tablet {
      max-width: 100%;
    }
  }

  img {
    width: 100%;
    object-fit: cover;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
  }

  &__date {
    font-family: $font-ruda;
    font-weight: 600;
    font-size: 30px;
    line-height: 1;
    text-transform: uppercase;
    position: absolute;
    width: 65px;
    padding: 18px 3px 14px;
    text-align: center;
    background-color: $white;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
    top: 0;
    left: 20px;

    & span:first-child {
      font-family: $font-opensans;
      font-size: 10px;
      font-weight: 700;
      letter-spacing: 0.1em;
      margin-bottom: 4px;
      word-wrap: break-word;
    }
  }

  &__title {
    font-size: 16px;
    line-height: 1.6;
    font-weight: 600;
    padding: 15px 18px;
    transition: color 0.3s ease-in;

    & p:not(:last-child) {
      margin-bottom: 10px;
    }
  }
}

.footer {
  background-color: $dark-400;
  padding: 30px 0 25px;
  color: $white;

  &__inner {
    display: flex;
    justify-content: space-between;
    padding: 30px 0;

    @include tablet {
      flex-direction: column-reverse;
      align-items: center;
    }
  }

  &__list {
    padding-left: 80px;
    column-count: 3;
    column-gap: 75px;

    // white-space: nowrap;
    @include tablet {
      padding: 24px 0;
      margin: 24px 0;

      &::before {
        content: "";
        position: absolute;
        width: 100%;
        height: 2px;
        background-color: yellow;
      }
    }
  }

  &__link {
    display: inline-block;
    transition: color 0.3s ease-in;

    &:not(:last-child) {
      margin-bottom: 18px;
    }

    &:hover {
      color: $silver-600;
    }
  }

  &__item:not(:last-child) {
    margin-bottom: 18px;
  }

  &__contacts {
    // margin-left: 30px;
  }

  &__address {
    line-height: 140%;
    font-style: normal;
  }

  &__phone,
  &__street {
    display: block;
    margin-bottom: 18px;
  }

  &__social {
    display: flex;
    padding-left: 9px;
  }

  &__social-item:not(:last-child) {
    margin-right: 12px;
  }

  &__social-link {
    display: block;
    width: 32px;
    height: 32px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    transition: opacity 0.3s ease-in;

    &:hover,
    &:active {
      opacity: 0.7;
    }
  }

  &__copyright {
    border-top: 1px solid rgba($white, 0.1);
    padding-top: 24px;

    &-text {
      display: flex;
      align-items: center;
    }
  }

  &__box {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__paymet {
    display: flex;

    & img:last-child {
      margin-left: 24px;
    }
  }
}